apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc.name }}-data
  namespace: {{ k8s_namespace }}
spec:
  accessModes:
    - {{ pvc.accessModes }}
  storageClassName: {{ pvc.storageClassName }}
  resources:
    requests:
      storage: {{ pvc.storage }}