apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment.name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ deployment.name }}
spec:
  replicas: {{ deployment.replicas }}
  selector:
    matchLabels:
      app: {{ deployment.name }}
  template:
    metadata:
      labels:
        app: {{ deployment.name }}
    spec:
      terminationGracePeriodSeconds: {{ deployment.terminationGracePeriodSeconds }}
      initContainers:
        - name: {{ deployment.initContainers.name }}-extension
          image: {{ deployment.initContainers.image }}
          command:
            - sh
            - -c
            - chown -R 1000:1000 /opt/sonarqube/extensions
          securityContext:
            privileged: true
          volumeMounts:
            - name: {{ deployment.initContainers.volumeMounts.name }}-extensions
              mountPath: {{ deployment.initContainers.volumeMounts.mountPath }}/extensions
        - name: {{ deployment.initContainers.name }}-data
          image: {{ deployment.initContainers.image }}
          command:
            - sh
            - -c
            - chown -R 1000:1000 /opt/sonarqube/data
          securityContext:
            privileged: true
          volumeMounts:
            - name: {{ deployment.initContainers.volumeMounts.name }}-data
              mountPath: {{ deployment.initContainers.volumeMounts.mountPath }}/data
      containers:
        - name: {{ deployment.name }}
          image: {{ deployment.image }}
          resources:
            requests:
              cpu: {{ deployment.containers.resources.cpu }}
              memory: {{ deployment.containers.resources.memory }}
            limits:
              cpu: {{ deployment.containers.limits.cpu }}
              memory: {{ deployment.containers.limits.memory }}
          ports:
            - name: {{ deployment.containers.ports.name }}
              containerPort: {{ deployment.containers.ports.containerPort }}
          env:
            - name: SONARQUBE_JDBC_USERNAME
              value: {{ deployment.containers.env.username }}
            - name: SONARQUBE_JDBC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: password
            - name: SONARQUBE_JDBC_URL
              value: {{ deployment.containers.env.url }}
          volumeMounts:
            - mountPath: {{ deployment.initContainers.volumeMounts.mountPath }}/data/
              name: {{ deployment.initContainers.volumeMounts.name }}-data
            - mountPath: {{ deployment.initContainers.volumeMounts.mountPath }}/extensions/
              name: {{ deployment.initContainers.volumeMounts.name }}-extensions
      initContainers:
        - name: {{ deployment.name }}-es-init
          image: {{ deployment.initContainers.image }}:1.27.2
          command: [ 'sysctl', '-w', 'vm.max_map_count=262144' ]
          securityContext:
            privileged: true
      volumes:
        - name: {{ deployment.initContainers.volumeMounts.name }}-data
          persistentVolumeClaim:
            claimName: {{ deployment.initContainers.volumeMounts.name }}-data
        - name: {{ deployment.initContainers.volumeMounts.name }}-extensions
          persistentVolumeClaim:
            claimName: {{ deployment.initContainers.volumeMounts.name }}-extensions